/output/*
!/output/RefineNet
/output/RefineNet/*
!/output/RefineNet/Cityscapes
/output/RefineNet/Cityscapes/*
!/output/RefineNet/Cityscapes/exp-info-snapshot.mat

logs/

/data/*
!/data/demo/
!/data/Cityscapes_lists_file_names/
!/data/Dark_Zurich_lists_file_names/
!/data/bdd100k_lists_file_names/
!/data/NighttimeDrivingTest_lists_file_names/

/source/Semantic_segmentation/refinenet/datasets/
/source/Semantic_segmentation/refinenet/model_trained/*
!/source/Semantic_segmentation/refinenet/model_trained/placeholder.txt

